nav.menu
    form(action="/createGame", method="get") 
        button Crear nueva partida
        |
        hr
        |
    form(action="/gameState", method="get") 
        button Ver estado de una partida
        |
        hr
        |
    form(action="/gameRun", method="get")  
        button Comenzar juego
        |
        hr
        |
    form(action="/showWinner", method="get") 
        button Ver ganadores