html 
    Head 
        title Datos de los jugadores
        style 
            include css/style.css
    body 
        div.title
            h1.title  Bienvenido al Juego de dados
        main
            div.info 
                h2 Ingrese los nombres de los tres jugadores que van a participar en la partida
                div.names 
                    form(action='/createGame' method='POST')
                        label(for="name1") Nombre para el jugador 1
                        input(type="text" id='name1' name= 'name1' required)

                        label(for="name2") Nombre para el jugador 2
                        input(type="text" id='name2' name= 'name2' required)

                        label(for="name3") Nombre para el jugador 3
                        input(type="text" id='name3' name= 'name3' required)

                        button(type="submit") Crear Partida         
            div.navigation  
                include partials/menu.pug  