
//-id de la partida
//- id y nombre de cada jugador
//- estado de la partida ( inProgress)
//- Ganador



html 
    Head 
        title Datos de los playeres
        style 
            include css/style.css
    body 
        div.title
            h1.title  Datos de la partida 
        main
            table 
                thead 
                    tr 
                    th Id del jugador 
                    th Nombre del jugador 
                tbody 
                    each player in players 
                        td= player._id 
                        td= player.nombre    