html 
    Head 
        title= title
        style 
            include css/style.css
    body 
        div.title
            h1.title  Bienvenido al Juego de dados
        main
            div.info 
                p=  message

                form(action="/createGame", method="get") 
                        button Crear nueva partida       